<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-danger">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">My Blog</a>
        <a class="nav-item nav-link active" href="/blog">List Blogs</a>
        <a class="nav-item nav-link active" href="/blog/add">Add Blog</a>
        </div>
    </div>
</nav>
