<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
	  <div class="container">
       <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-danger">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blog">List Blogs</a>
        <a class="nav-item nav-link active" href="/blog/add">Add Blog</a>
        </div>
    </div>
</nav>
    <h3><%= title %></h3>
    <p>This blog feature is under construction.</p>
  </body>
</html>                    
          
