<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
  </head>
  <body>
	  <div class="container">
       <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-danger">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blog">List Blogs</a>
        <a class="nav-item nav-link active" href="/blog/add">Add Blog</a>
        </div>
    </div>
</nav>
    <h3><%= title %></h3>
    <p><ul>
        <% blogs.forEach(function(blog) { %>
          <li><%= blog.title %>: <%= blog.text %> <a href="/blog/edit"><i class="bi bi-pencil"></i></a> <a href="/blog/delete"><i class="pr-1 bi bi-trash"></i></a></li>
        <% }); %>
      </ul></p>
  </body>
</html>                    
                      
                    
