<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="mb-3"><% include ./partials/nav %></div>
    <div class="container">
      <p></p>
      <div class="card border-dark" style="width: 50%">
        <form action="/blogEdit/<%=blog._id%>" method="post" style="padding: 20px; font-size: 18px">
          <div class="form-group">
            <label for="summary" class="text-dark">Blog Title</label>
            <input class="form-control" id="blogTitle" name="blogTitle" value="<%=blog.blogTitle%>">
            <p></p>
            <label for="text" class="text-dark">Blog Text</label>
            <textarea class="form-control" id="blogEntry" rows="3" name="blogEntry"><%=blog.blogEntry%></textarea>
            <p></p>
          </div>
          <input type="submit" class="btn btn-dark float-right" value="Update Blog">
        </form>
      </div>
      </div>
  </body>
</html>
