<title>{{ ab.pageHeader.title }}</title>
<body ng-controller="AddBlogController as ab">
    <div class="container d-flex justify-content-center mt-5">
        <p></p>
        <div class="card border-dark" style="width: 50%">
            <form name="userForm" ng-submit="ab.submit()" style="padding: 20px; font-size: 18px">
                <div class="form-group">
                    <label for="blogTitle" class="text-white">Title</label>
                    <input class="form-control" id="blogTitle" name="blogTitle" ng-model="ab.blogTitle" required>
                    <p></p>
                    <label for="blogEntry" class="text-white">Entry</label>
                    <textarea class="form-control" id="blogEntry" rows="3" name="blogEntry" ng-model="ab.blogEntry" required></textarea>
                    <p></p>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-dark float-right" style="margin-right: 10px;" href="/bloglist" role="button">Cancel</a>
                    <input type="submit" class="btn btn-primary bg-secondary border-dark" value="Add Blog">
                </div>
            </form>
        </div>
    </div>    
</body>